<span id = "navbar">
    <span id = "nav_1">
        <mat-icon class="homeLink" >free_breakfast</mat-icon> 
        <a class ="homeLink" routerLink ="/">CafeApp</a>
    </span>
    <span>
        <div id = "profile_buttons" *ngIf="loggedIn == false">
            <button mat-raised-button color = "accent" (click) = "logIn()" >Log in</button>
            <button mat-raised-button color = "accent">Register</button> 
        </div>
        <div id = "profile_icons" *ngIf ="loggedIn == true">
            <a routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                {{userName}}
            </a>
        </div>
    </span>
</span>


<router-outlet></router-outlet>










<!-- <app-add-product-form class="product-form"> </app-add-product-form> -->



