.formWrapper
{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px auto;
    right: 0px;
    left: 0px;
    padding: 20px;
}
.regForm
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
    right: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.regImage
{
    position: relative;
    width: 75%;
    height: 800px;
}
.regImage img
{
    width: 100%;
}
#confirmFormButton
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 25px;
    color: antiquewhite;
    font-size: medium;
}
#confirmFormButton i
{
    color: red;
}
.formFields
{
    width: 50%;
}
