/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

body { height: 100%; background-color: rgba(1, 2, 10, 0.952);}
body { margin: 0px; padding: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }


#navbar
{
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.733);
    margin: 0px;
    width: 100%;
    height: 49px;
    padding: 0px;
    top: 0px;
    color: rgb(233, 224, 207);
    border: 1px solid rgb(87, 9, 9);
}
#nav_1
{
    position: relative;
    height: 100%;
    margin: 0px;
    font-size: 35px;
    
}



#button_wrapper
{
    position: relative;
    margin: 0px auto;
    padding: 10px;
    bottom:50px;
    width:50%;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.733);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    justify-items: center;
    align-content: center;
    border-radius: 5px;
   
}
#profile_icons
{
    width: 50px;
    height: 50px;
}
#profile_buttons
{
    position: relative;
    height: 100%;
    padding-top: 5px;
    margin: 0px;
    display: flex;
    flex: row;
    justify-items: space-around;
    column-gap: 5px;
}



.homeLink
{
    text-decoration: none;
    color:brown;
}